body{
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
.container{
  width: 1440px;
  padding: 10px;
  margin:auto
}
nav{
  display: flex;
  justify-content: space-between;
}
.attribution { font-size: 11px; text-align: center; } 
.attribution a { color: hsl(228, 45%, 44%); }
@media(max-width: 375px){

}